/* boton de contacto */

.boton_contacto {
    width: 100px;
    height: 100px;
    bottom: 20px;
    position: fixed;
    border-radius: 100px;
    right: 100px;
    z-index: 100;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s, transform 0.3s;
    cursor: pointer;
  }
  .boton_contacto img {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    user-select: none;
  }
  .boton_contacto:hover {
    background: green;
    transform: scale(1.03);
  }
   @media (max-width: 768px) {
    .boton_contacto {
      width: 80px;
      height: 80px;
      right: 40px;
    }
  }
  @media (max-width: 480px) {
    .boton_contacto {
      width: 60px;
      height: 60px;
      right: 20px;
      bottom: 15px;
    }
    .boton_contacto img {
      width: 70%;
      height: 70%;
    }
  }

/* pilotos */

.team-logo {
      height: 50px;
      width: auto;
      margin-right: 15px;
      object-fit: contain;
      border-radius: 10px;
    }
.card {
      border-radius: 15px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      transition: transform 0.3s;
    }
.card:hover {
      transform: scale(1.03);
    }
.team-section {
      margin-bottom: 60px;
    }
.card-title {
      font-weight: 600;
    }

 /* creadores */

.creador {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    margin: 20px auto;
    padding: 20px;
    max-width: 1000px;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
}

.creador .info {
    flex: 1;
    min-width: 250px;
}

.creador .imagen_creador {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100px;
}

.nom_cont {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Imágenes de la sección de reglamentos */

.img-reglamentos {
  width: 100% !important;
  max-width: 600px !important;
  height: 350px !important;
  object-fit: cover !important;
  border-radius: 10px !important;
  margin: 0 auto !important;
  display: block !important;
}

.banner{
      width: 90%;
      height: auto;
      border-radius: 20px;

}

.equiposimg{
      width: 350px;
      height: 200px;
      margin: 50px;
      border-radius: 15px;
}