/* boton de contacto */

.boton_contacto{
	width: 100px;
	height: 100px;
	bottom: 20px;
	position: fixed;
	border-radius: 100px;
	right: 100px;
	z-index: 100;
	background: red;
}

.boton_contacto img{
	width: 70%;
	height: 70%;
	border-radius: 50%;
	z-index: 0;
	margin: 15%;
}

.boton_contacto:hover{
	background: green;
	transform: scale(1.03);
}

/* pilotos */

.team-logo {
      height: 50px;
      width: auto;
      margin-right: 15px;
      object-fit: contain;
      border-radius: 10px;
    }
.card {
      border-radius: 15px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      transition: transform 0.3s;
    }
.card:hover {
      transform: scale(1.03);
    }
.team-section {
      margin-bottom: 60px;
    }
.card-title {
      font-weight: 600;
    }

 /* creadores */

.imagen_creador{
	height: 200px;
	width: 200px;
	border-radius: 100%;
      object-fit: cover;
      position: relative;
      top: -170px;
      margin-left: 25px;
}

.creador{
  width: 70%;
  height: 275px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 24px;
  margin-bottom: 24px;
}

.creador:hover{
	transform: scale(1.07);
}

.info{
  align-items: center;
  margin-left: 280px;
}
/* Imágenes de la sección de reglamentos */
.img-reglamentos {
  width: 100% !important;
  max-width: 600px !important;
  height: 350px !important;
  object-fit: cover !important;
  border-radius: 10px !important;
  margin: 0 auto !important;
  display: block !important;
}