body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

h1 {
    color: #d00000;
}

.track {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: inline-block;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.track:hover {
    transform: scale(1.05);
}

img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}
